<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="neu.edu.cn.mobilesafer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyMobileApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_my"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.SetupOverActivity" />
        <activity android:name=".activity.SetupFirstActivity" />
        <activity android:name=".activity.SetupSecondActivity" />
        <activity android:name=".activity.SetupThirdActivity" />
        <activity android:name=".activity.SetupFourthActivity" />
        <activity android:name=".activity.ContactActivity" />
        <activity android:name=".activity.ToolActivity" />

        <receiver
            android:name=".receiver.RootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SmsReceiver"
            android:enabled="true" />
        <receiver
            android:name=".receiver.DeviceAdmin"
            android:enabled="true" />

        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.PhoneNumQueryActivity"></activity>
    </application>

</manifest>